body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    --secondary-color: rgb(227, 232, 239);
    --primary-color: #16a34a;
    --tertiary-color: #AF7A6D; 

}



#sidebar {
    padding-left: 10px;
    background-color: var(--primary-color);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 80px repeat(10, 40px);
    align-items: center;
    gap: 15px;

}

#header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: relative;	
    box-shadow: 0px 1px 8px -1px #AFAFAF;

}

#greetingHeader {
    align-self: center;
}

#topHeader {
    display: grid;
    grid-template-columns: 40px auto 30px 60px 15%;
    gap: 10px;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;
    
}

#greetingButtons {
    display: grid;
    grid-template-columns: 85px auto repeat(3, 100px);
    margin-left: 40px;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
    font-weight: bold;


}

#main {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 40px auto;
    gap: 5px;
    padding: 15px;
}

#projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    
}


h3 {
    margin: 5px;
}

.project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3fr auto;

    border-radius: 15px;
    background:                     /*width height*/
    linear-gradient(var(--tertiary-color) 0 0) left/10px   100% no-repeat,
    white;
    padding: 15px;
    padding-left: 30px;


    
}

.project h3 {
    margin: 2px;
}
.project p {
    margin: 2px;
    color:grey;
}

.projectButtonDiv {
    display: flex;
    justify-content: end;
    gap:8px;
}
.projectButton {
    width: 20px;
}



.smallBold {
    font-size: small;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

.topButton {
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 100px;
    line-height: 2;
    padding: 7px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size:1em;
}



#searchBar {
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 20px;
    line-height: 2;
    padding: 3px;
    

}


#logo {
    width: 50px;
    filter: invert(93%) sepia(97%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
    justify-self: right;
}

#notifications {
    padding: 5px;
}

#profilePicture {
    width: 50px;
    border-radius: 50%;
    align-self: center;
    padding: 5px;
}

#profilePictureLarge {
    width: 85px;
    border-radius: 50%;
}

#profileName {
    padding-right: 40px;
    font-weight: bold;
}

.icon {
    width: 25px;
    filter: invert(93%) sepia(97%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
    justify-self: right;
}

.headerIcon {
    width: 25px;

}


#main {
    background-color: var(--secondary-color);
    grid-area: main;

}

#header {
    grid-area:header; 
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

#title {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}


