@font-face{
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: roboto, Arial, Helvetica, sans-serif;
    --secondary-color: rgb(212 216 210);
    --primary-color: #43766C;
    --tertiary-color: #76453B; 
    --fourth-color: #B19470;

}



#sidebar {
    padding-left: 10px;
    background-color: var(--primary-color);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 80px repeat(10, 40px);
    align-items: center;
    gap: 15px;

}

#header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: relative;	
    box-shadow: 0px 1px 8px -1px #AFAFAF;

}

#greetingHeader {
    align-self: center;
}

#topHeader {
    display: grid;
    grid-template-columns: 40px auto 30px 30px 60px 15%;
    gap: 10px;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;
    
}

#greetingButtons {
    display: grid;
    grid-template-columns: 85px auto repeat(3, 100px);
    margin-left: 40px;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
    font-weight: bold;


}

#main {
    display: grid;
    grid-template-columns: 3.5fr 1.25fr;
    grid-template-rows: 40px auto;
    gap: 5px;
    padding: 15px;
}

#mainSidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 40px min-content;
    align-items: start;
}

.sidebarBox {
    border-radius: 15px;
    padding: 30px;
    background: white;
    position: relative;	box-shadow: 2px 2px 6px -3px #A0A0A0;
    margin-bottom: 30px;
}

#announcementBox {
    display: grid;


}

#projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px;
    margin-right: 30px;
    
}


h3 {
    margin: 5px;
    margin-left: 0px;
}

.project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3fr auto;

    border-radius: 15px;
    background:                     /*width height*/
    linear-gradient(var(--tertiary-color) 0 0) left/10px   100% no-repeat,
    white;
    padding: 15px;
    padding-top: 25px;
    padding-left: 30px;
    position: relative;	
    box-shadow: 2px 2px 6px -3px #A0A0A0;



    
}

.project h3 {
    margin: 2px;
    font-size: 1em;
 
}
.project p {
    margin: 2px;
    color:grey;
    font-size: 0.85em;
}

.projectButtonDiv {
    display: flex;
    justify-content: end;
    gap:8px;
    margin-top: 20px;
}
.projectButton {
    width: 20px;
}



.smallBold {
    font-size: small;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

.topButton {
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 100px;
    line-height: 2;
    padding: 7px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size:1em;
}



#searchBar {
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 20px;
    line-height: 2;
    padding: 3px;
    

}


#logo {
    width: 50px;
    filter: invert(93%) sepia(97%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
    justify-self: right;
}

#notifications {
    padding: 5px;
}

#profilePicture {
    width: 50px;
    border-radius: 50%;
    align-self: center;
    padding: 5px;
}

#trendingBox {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.trendingIcon {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

#profilePictureLarge {
    width: 85px;
    border-radius: 50%;
}

#profileName {
    padding-right: 40px;
    font-weight: bold;
}

.icon {
    width: 25px;
    filter: invert(93%) sepia(97%) saturate(0%) hue-rotate(76deg) brightness(105%) contrast(103%);
    justify-self: right;
}

.headerIcon {
    width: 25px;

}


#main {
    background-color: var(--secondary-color);
    grid-area: main;

}

#header {
    grid-area:header; 
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

#title {
    color: white;
    font-size: 1.25em;
    font-weight: bolder;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-weight: 500;

    font-size: 1.0em;
}


.sidebarBox p {
    color: grey;
    font-size: 0.75em;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 10px;
}

.sidebarBox div:last-child p{
    border-bottom: none;
}

h4 {
    margin: 0px;
}

