body {
    margin: 0;
}



#sidebar {
    background-color: darkseagreen;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(10, 40px);
    align-items: center;
}


.icon {
    width: 30px;
    fill:white;
}

.icon:hover {
    fill: red;
}

#main {
    background-color: rgb(227, 232, 239);
    grid-area: main;

}

#header {
    grid-area:header; 
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

